
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	outline: none;
	background-color: #ecf0f3;
}
.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.calculator{

	padding: 20px;
	border-radius: 30px;
	border: none;
	display: grid;
	grid-template-columns: repeat(4,68px);
	box-shadow: inset 5Px 5px 12px #fff,
	                  5px 5px 12px rgba(0,0,0,.16);

}


input{
	width: 260px;
	height: 70px;
	grid-column: span 4;
	text-align: end;
	background: #ecf0f3;
	margin: 35px auto;
	padding: 20px;
	border: none;
	font-size: 50px;
	border-radius: 30px;
	box-shadow: inset -5Px -5PX 12PX #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    color: rgba(70,70,70);
}
button{
	width: 48px;
	margin: 8px;
	height: 48px;
	background: #ecf0f3;
	border-radius: 50%;
	box-shadow:  -5Px -5px 12px #fff,
	              5px 5px 12px rgba(0,0,0,.16);
	border: none;
	font-size: 16px;  
               
}
.eval{
	width: 115px;
	background: #ecf0f3;
	box-shadow:  -5Px -5px 12px #fff,
	              5px 5px 12px rgba(0,0,0,.16);
	border: none;
	border-radius: 30px;

}